.message  
  .message-header
    .message-header__top
      メッセージ
    .message-header__content  
      やりとり中
  .message-main 
    - @users.each do |user|
      %label 
        .message-main__content
          - if user.image.present?
            = image_tag user.image.url,class:"message-main__content--image"
          - else   
            = image_tag "catch.jpg",class:"message-main__content--image"
          .message-main__content--box
            %span
              = user.nickname
            %span
              24歳
            %span  
              東京
            .message-maim__content--message
              メッセージが届いています     
          = form_tag :rooms, method: :post do
            %input{:name => "user_id", :type => "hidden", :value => "#{user.id}"}/  
            = submit_tag 'チャットを開く',class:"room-form"    