.header
  =link_to "https://www.pairs.lv/", class:"logo" do
    =image_tag "https://www.pairs.lv/wp-content/themes/pairs_pc/img/logo_pairs.png",class:"logo-image"
  .user
    -if user_signed_in? && current_user.id
      .user__my-page
        = link_to user_path(current_user.id) do
          マイページ
    -else      
      .user__login
        =link_to  "/users/sign_in" do
          ログイン
      .user__sin-up
        =link_to "/users/sign_up" do
          新規登録
    
.main__image      
  = image_tag "mainimg.jpg"

.main
  .main__content
    .main__content--image
      = image_tag "catch.jpg"
      %p
        ここにタイトル
    .main__content--image-secound
      = image_tag "catch.jpg"
      %p
        ここにタイトル
    .main__content--image-third
      = image_tag "catch.jpg"
      %p
        ここにタイトル
  .main__content
    .main__content--image
      = image_tag "catch.jpg"
      %p
        ここにタイトル
    .main__content--image-secound
      = image_tag "catch.jpg"
      %p
        ここにタイトル
    .main__content--image-third
      = image_tag "catch.jpg"
      %p
        ここにタイトル     

-# .footer
-#   .footer__content
-#     .footer__content--first
-#       %h5
-#         フッター１
-#       %p
-#         ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。
-#     .footer__content--scound
-#       %h5
-#         フッター2
-#       %p
-#         ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。
-#     .footer__content--third
-#       %h5 
-#         フッター3
-#       %p
-#         ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。
                
.under  
  Copyright © popodesign.