.wrapper
  = render "categories/side_bar"
  .favorite-main
    .favorite__content 
      %h2.name
        = @user.nickname
      .image__first
        -if @user.image.present?
          = image_tag @user.image.url, width: '100%'
        -else 
          = image_tag "default.jpg"
      - if user_signed_in? == @user_id
      - else
        .how-nice
          =form_with model: @relationship, local: true do |f|
            %div= hidden_field_tag :following_id, @user.id
            %button.how-nice__button{:type =>"submit"}
              いいね
              %i.fas.fa-heart 
      .profile-tweet
         
        = @user.tweet     
      .self-introduction  
        .self-introduction__top
          自己紹介
        .self-introduction__content
          = @user.profile

