.wrapper
  = render "side_bar"
  .category
    .category-header
      .category-header__name
        = @category.name
      .category-header__picture
        = image_tag @category.image.url, width: '100%',height: '100%'

    .communities-main
      .communities-main__recommended
        %h1おすすめ
        .communities-main__recommended-index
          -@community_all.each do |communty|
            = link_to community_path(communty.id) do
              .communities-main__recommended-index--details
                .communities-image  
                  = image_tag communty.image.url, width: '100%',height: '100%'
                .communities-name
                  = communty.name