.search-box
  .search-box__feature
    さがす
  %input.search-box__text{:type => "text" }
    = icon('fas', 'binoculars fa-2x')
  .main-matching
    .main-matching__content
      .main-matching__content--image
        = image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg"

      .main-matching__content--information
        %p.age 
          30歳 
        %p.age 
          長崎
      .main-matching__content--word
        宜しくおねがいします。何もありません。
    
    .main-matching__content
      .main-matching__content--image
        = image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg"
      .main-matching__content--information
        %p.age 
          30歳 
        %p.age 
          長崎
      .main-matching__content--word
        宜しくおねがいします。何もありません。
    
    .main-matching__content
      .main-matching__content--image
        = image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg"
      .main-matching__content--information
        %p.age 
          30歳 
          
        %p.age 
          長崎
      .main-matching__content--word
        宜しくおねがいします。何もありません。

    .main-matching__content
      .main-matching__content--image
        = image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg"
      .main-matching__content--information
        %p.age 
          30歳 
          
        %p.age 
          長崎
      .main-matching__content--word
        宜しくおねがいします。何もありません。    


    .main-matching__content
      .main-matching__content--image
        = image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg"
      .main-matching__content--information
        %p.age 
          30歳 
          
        %p.age 
          長崎
      .main-matching__content--word
        宜しくおねがいします。何もありません。
 

