.wrapper
  = render "categories/side_bar"
  .category
    .category-header
      .category-header__name
        = @community.name
      .category-header__picture
        = image_tag @community.image.url, width: '100%',height: '100%'
      = form_with model: [@community_user] ,local: true do |f|
        = f.hidden_field :community_id, value: @community.id
        = f.hidden_field :user_id, value: current_user.id
        = f.submit '入会', class: 'communities-btn'
    .main-matching
      - @community.users.each do |user| 
        = link_to user_path(user.id) do 
          .main-matching__content
            .main-matching__content--image
              = image_tag "https://navi.harinezumi.org/wp-content/uploads/kohari12.jpg"
            .main-matching__content--information
              %p.age 
                =user.nickname
              %p.age 
                長崎
            .main-matching__content--word
              宜しくおねがいします。何もありません。